{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "camelcase": 2,
    "comma-spacing": 1,
    "comma-style": 1,
    "complexity": [ 2, 5 ],
    "curly": [ 1, "all" ],
    "dot-notation": [ 2, { "allowKeywords": true } ], // allowing keywords could be an issue. This resolves .finally .catch promise issues
    "eol-last": 1,
    "eqeqeq": [ 2, "smart" ],
    "guard-for-in": 2,
    "key-spacing": 1,
    "max-depth": [ 2, 3 ],
    "new-cap": 2,
    "no-bitwise": 1,
    "no-caller": 2,
    "comma-dangle": [1, "never"],
    "no-cond-assign": [ 2, "except-parens" ],
    "no-console": 1,
    "no-debugger": 2,
    "no-empty": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-parens": 0,
    "no-irregular-whitespace": 1,
    "no-iterator": 2,
    "no-loop-func": 2,
    "no-mixed-requires": 1,
    "no-multi-spaces": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-str": 2,
    "no-new": 2,
    "no-proto": 2,
    "no-script-url": 2,
    "no-sequences": 2,
    "no-shadow": 1,
    "no-trailing-spaces": 1,
    "no-undef": 2,
    "no-undef-init": 1,
    "no-underscore-dangle": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-use-before-define": [2, "nofunc"],
    "no-with": 2,
    "quotes": [1, "single", "avoid-escape"],
    "semi": [ 2, "always" ],
    "space-infix-ops": 1,
    "strict": [2, "global"],
    "valid-typeof": 2,
    "yoda": 1,
    "wrap-iife": [ 2, "inside" ]
  }
}
